.absolute-wrapper {
    height: 100%;
}
.chart {
    height: 97%;
}
.absolute-wrapper {
    background: white;
}
.double-text .text {
    position: relative;
    display: block;
}
.footer-container {
    width: 100%;
    bottom: 0;
}
.footer-container > *{
    margin-top: 10px;
}
